.don-sec {
    background-color: #e6edff;
    padding: 150px 0;
}

.don-sec .don-box {
    margin: 50px 0;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px #b4afaf;
    transition: all 1s;
}

.don-sec .don-box img {
    width: 70px;
    height: 70px;
    transition: all 1s;
}

.don-sec .don-box h3 {
    margin: 15px 0 10px;
}

.don-sec .don-box p {
    margin-bottom: 25px;
}

.don-sec .don-box:hover img {
    transform: scale(1.1);
}

/* Buttons */
.btn1 {
    font-size: 1rem;
    font-weight: 400;
    background-color: #303054;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
    cursor: pointer;
    transition: all 0.5s;
}

.btn1:hover {
    background-color: #e6edff;
    color: #303054;
}